<header>
  <div class="wrapper">
    <nav>
      <ul class="nav-items">
        <li><a href="/" class="active-link">Home</a></li>
        <li><a href="/pokemon/1/">Pokemon</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </div>
</header>