---
title: pokedetail
layout: layouts/base.njk
pagination:
  data: detail
  size: 1
  alias: detail
permalink: pokemonDetail/{{ detail.data.name }}/index.html
---
<section class="pokemon-section">
  <div class="wrapper">
    <ul class="pokemon-items">
      <li><h1>{{detail.data.name}}</h1></li>
    </ul>
  </div>
</section>