---
title: Pokemonpage
layout: base.njk
---

<section class="pokemon-section">
  <div class="wrapper">
    <ul class="pokemon-items">
      <li class="dummy-list">dummy</li>
    </ul>
  </div>
</section>