---
title: pokedetail
layout: base.njk
---
<section class="pokemon-section">
  <div class="wrapper">
    <ul class="pokemon-items">
      <li><h1>{{pokemonDetail.name}}</h1></li>
    </ul>
  </div>
</section>